
</main>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <p>
      © Copyright Campgrounds 2020.
    </p>
</footer>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/dist/toolkit.min.js"></script>
    </body>
</html>