#indexCard {
    padding: 20px 0 10px;
    box-sizing: border-box;
}
#delete-form{
    display: inline;
}
/* .form-box {
    width: 30%;
    margin: 0 auto;
} */
nav {
    margin-bottom: 20px;
}
.card-img-top, .avatar-image {
    padding: 3%;
}
#campground-user-list {
    width: 128px;
    padding-top: 5px;
}
a:hover {
    text-decoration: none;
}